 body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: rgba(116, 105, 60, 0.911);
            margin: 20px;
        }
        h1 {
          color: rgb(201, 201, 190);
          text-align: center;
          border-bottom: 2px;
          padding-bottom: 10px;
        }
        p {
            font-size: 20px;
            color: antiquewhite;
            text-align: center;
        }